/* Reset some defaults */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header */
header {
    background: #333;
    color: yellow;
    padding: 1rem;
    text-align: center;
    animation: pre 2s infinite;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Sections */
section {
    padding: 20px;
    margin: 10px;
}

.project-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    background: #f9f9f9;
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;

}
@keyframes pre{
    10%{
        color:azure;
    }
    20%{
        color: grey; 
    }
}

